*{
    margin: 0px;
    padding: 0px;
    
}

body{
    font-family: 'Inter', sans-serif;
}

html, body {
    min-height: 100vh;
}

/*-----------------  HEADER ------------------------------*/

header{
    background-color: #303030;
    color: white;
}

header > h1{
    padding: 180px 354px 0px 62px;
    font-size: 36pt;
}

header > p{
    padding-top: 20px;
    padding-left: 62px;
    padding-bottom: 80px;
    font-weight: lighter;
}

/*-----------------SEÇÃO INFORMAÇÕES           ------------------------------------------*/

section#container{
    background-color: #F9F9F9;
    color: black;
    display: grid;
    grid-auto-flow: column;
    columns: auto;
}
.bloco1 > h1{
    margin-top: 80px;
    margin-left: 80px;
    font-size: 28pt;
}
.bloco1 > p{
    margin-top: 5px;
    margin-left: 75px;
    margin-bottom: 80px;
    font-size: 14pt ;
}
.bloco2 > h1{
    margin-top: 80px;
    margin-left: 75px;
    font-size: 28pt;
}
.bloco2 > p{
    margin-top: 3px;
    margin-left: 75px;
    margin-bottom: 80px;
    font-size: 14pt ;
}
.bloco3 > h1{
    padding-top: 80px;
    margin-left: 80px;
    font-size: 28pt;
}
.bloco3 > p{
    margin-top: 5px;
    margin-left: 80px;
    margin-bottom: 80px;
    font-size: 14pt ;
}

/* -----------------------------------------------------------*/
section#arquitetos{
    display: grid;
    grid-auto-flow: column;
    columns: auto;
}

div.textos{
    text-align: center ;
    margin-top: 250px;
    margin-left: 20px;
}

div.textos h1{
    padding: 20px;
}
div.textos p{
    text-align: justify;
    margin-left: 80px;
}
   
div.foto{
    background-image: url(imagens/interiores.svg);
    background-repeat: no-repeat;
    background-size: contain;
    
    margin-top: 50px;
    margin-bottom: 50px;
}
/*--------------------------------------------------------*/

section#formulario{
    background-color: #303030;
    height: 500px;
    color: white;
    text-align: center;
}

h1#titulo-formulario{
    padding-top: 100px;
    padding-bottom: 40px;
}

input {
    margin-top: 0px;
    width: 350px;
    height: 50px;
    margin: 25px;
    border: 0px;
    border-radius: 5px;
    padding-left: 10px;
}
button{
    background-color: #C07212;
    color: white;
    width: 250px;
    height: 40px;
    border: 0px;
    border-radius: 8px;
    margin: 20px;
    cursor: pointer;
}
button:hover{
    background-color: #eb9e41;
    color: white;
    transform: translateY(-5px);
    transition-duration: 0.5s;
    box-shadow: 0px 15px 20px #00000061;

}
footer{
    text-align: center;
    padding: 10px;
}
footer a{
    text-decoration: none;
    cursor: pointer;
    color: black;
}
footer a:hover{
    text-decoration: underline;
}